/* Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 5px;
    /* Adjust the margin as needed */
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #45a049;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination .next-button {
    margin-left: 10px;
    /* Add margin between next and previous buttons */
}

.pagination span {
    margin: 0 50px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}